<!DOCTYPE html>
{% extends 'default.html' %}
{% load custom_filters %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %} {% endblock %}
    <title>{% block title %} all news {% endblock %}</title>
</head>
<body>
{% block content %}
<h2>Сегодня: {{date_now}}</h2>
  {% for n in news %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{n.title}}</h5>
        <p class='card-subtitle'>{{n.date_created|date:'d M Y'}}</p>
        <p class="card-text">{{n.preview_text|censor}}</p>
<!--        <a href="{% url 'news_detail' n.pk %}" class="btn btn-primary">Читать дальше</a>-->
<!--        <ul class="dropdown-menu">-->
<!--            <li><a class="dropdown-item" href="{% url 'news_update' n.pk %}">Редактировать</a></li>-->
<!--            <li><a class="dropdown-item" href="{% url 'news_delete' n.pk %}">Удалить</a></li>-->
<!--        </ul>-->
          <!-- Пример отдельной кнопки danger -->
        <div class="btn-group">
          <a type="button" href="{% url 'news_detail' n.pk %}" class="btn btn-primary">Читать дальше</a>
            {% if perms.news.change_post or perms.news.delete_post %}
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Переключатель выпадающего списка</span>
          </button>
          <ul class="dropdown-menu">
              {% if perms.news.change_post %}
            <li><a class="dropdown-item" href="{% url 'news_update' n.pk %}">Редактировать</a></li>
              {% endif %}
              {% if perms.news.delete_post %}
            <li><a class="dropdown-item" href="{% url 'news_delete' n.pk %}">Удалить</a></li>
              {% endif %}
          </ul>
            {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}

<nav aria-label="...">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
            </li>
                <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
    {% endif %}
    <li class="page-item active" aria-current="page">
      <span class="page-link">{{ page_obj.number }}</span>
    </li>
    {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
        {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
            </li>
        {% endif %}
    {% endif %}
  </ul>
</nav>

{% endblock %}
</body>
</html>